<!doctype html>
<title>SAML Recipe</title>
<link rel="stylesheet" href="https://saml-cookbook.localtest.me/apache/assets/skeleton.css" />
<link rel="stylesheet" href="https://saml-cookbook.localtest.me/apache/assets/shared.css" />
<body>
    <div class="header">
        <a href="/">Go Back to Index</a>
    </div>
    <div class="container">
        <h1>
            NodeJS Minimal Recipe
        </h1>
        
        <% if (user) { %>
            <a  href="/nodejs/logout" class="button button-primary" href="#">Log Out</a>
        <% }else{ %>
            <a  href="/nodejs/login" class="button button-primary" href="#">Log In</a>
        <% } %>
        <a href="/nodejs/saml2/metadata" class="button">View Metadata</a>
        <div class="button-divider"></div>
        <a class="documentation-link button" href="https://shibboleth.main.ad.rit.edu/docs/saml-cookbook/code_examples/nodejs.html">Documentation</a>

        <% if (user) { %>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>                
                </thead>
                <tbody>
                <% for(const key in user) { %>
                    <tr>
                        <td><%= key %></td>
                        <td><%= user[key] %></td>
                    </tr>                    
                <% } %>
                </tbody>
            </table>                
        <% } %>
    </div>
    <div class="container-divider"></div>
    <div class="container">
        <p>
            The Node implementation uses the <a href='https://www.passportjs.org/'>Passport library</a> with a <a href='https://github.com/node-saml/passport-saml'>Passport-SAML</a> plugin running
            on Express. The auth flow is more indirect than other examples because authentication is abstracted through Passport.
        </p>
        <p>
            Read documentation on <a href='https://www.passportjs.org/'>Passport</a> if you get stuck.
        </p>
    </div>
</body>
